.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-avatar {
  margin: 1rem;
}

/* .grid-container--fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 6rem));
} */

.grid-container--fit {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 20rem));
}

p {
  line-height: 2.5em;
}
audio {
  min-height: 3.5rem;
}

/* for drag and drop upload drawer */
.ant-drawer-wrapper-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3fr 1fr;
}

.steps-content {
  margin-top: 16px;
  /* border: 1px dashed #e9e9e9; */
  border-radius: 6px;
  background-color: #fafafa;
  /* min-height: 200px; */
  text-align: center;
  /* padding-top: 80px; */
  padding: 1rem;
  width: 100%;
}
